<!DOCTYPE html>
<html>
<head>
  <title>Angelhack2013Drip</title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "home" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
