<!DOCTYPE html>
<html>
<head>
  <title>Drip - Leader Board</title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "leaderboard" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
